.default-content
  max-width $textAreaWidth
  margin 0 auto
  padding 2rem 5rem
  img
    max-height $textAreaWidth * 0.618
    max-width 100%

@media (max-width: $MQMobile)
  .default-content
    padding 1rem 2rem
